body {
    margin: 0;
}
ul {
    list-style: none;
    width: 100%;
    padding: 0;
}
li {
    width: 100%;
    height: 40px;
}
li form {
    width: 100%;
    padding: 0;
    margin: 0;
}
form input {
    height: 100%;
    border: none;
}
#searchBox {
    width: 80%;
    padding-left: 10px;
    background: var(--hover);
    color: var(--text);
}
#searchBtn {
    width: 20%;
    float: right;
    background: var(--secondary);
    color: var(--text);
}
#contactBtn {
    height: 40px;
    width: 100%;
    border: none;
    background: var(--hover);
    color: var(--text);
}
button, input {
    padding: 0;
}