body {
    margin: 0;
    height: 100%;
    width: 100%;
}
#stretch {
    width: 100%;
    height: auto;
    overflow: auto;
    padding: 5px 0;
}
.message {
    display: inline-block;
    padding: 10px;
    max-width: 60%;
    height: auto;
}
#right {
    background: lightskyblue;
    float: right;
    border-radius: 10px 10px 0 10px;
}
#left {
    background: white;
    float: left;
    border-radius: 10px 10px 10px 0;
}